body {
    background-color: rgb(36, 35, 35);
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 17);
    margin: 0 auto;
    width: 30vw;
    padding: 50px;
    border-radius: 15px;
    gap: 20px;
}

input {
    background-color: rgb(236, 229, 229);
    border: none;
    border-radius: 15px;
    padding: 9px;
}

button {
    margin-top: 20px;
    width: 50%;
    align-self: center;
    padding: 12px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
}

label {
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}